*{
    padding: 0;
    margin: 0;
    background: black;
    font-family: "Boldonse", system-ui;
}
html {
  scroll-behavior: smooth;
}

.heading_div{
  margin-top: 200px;
}
.Header_main{
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.header_child{
    background-color: rgba(31, 29, 29, 0.267);
    margin-top: 50px;
    height: 60px;
    width: 70vw;
    border: 1px solid rgba(255, 255, 255, 0.589);
    border-radius: 50px;
}
.main_heading{
  color: white;
  font-size: 3rem;
  line-height: 80px;
  letter-spacing: 4px;
}

.main_sub_heading{
  color: rgb(131, 129, 129);
  margin-top: 40px;
}
.btn_2{
  border: 1px solid white;
  color: white;
  margin-left: 10px;
}
.btn_2:hover{
  border: 1px solid rgba(255, 255, 255, 0.473);
  color: rgba(255, 255, 255, 0.425);
}
.btns_div{
  margin-top: 40px;
}
.btn_1{
  background-color: white;
  color: black;
}
.div_form_main{
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.form_div {
  background: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 12px;                   
  border: 1px solid rgba(255, 255, 255, 0.103);
  padding: 20px;
  color: #fff; 
  height: 500px;
  width: 500px;
  
}
.form_heading{
  background-color: #ffffff00;
}
.form_subheading{
  background-color: #ffffff00;
  margin-top: 20px;
}
.text_form_div{
  background-color: #ffffff00;
}